.main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: green;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    transition: width 2s ease-in-out, height 2s ease-in-out; 
}

h1 {
    position: absolute;
    top: 20px;
    font-size: 3em;
    text-align: center;
    color: #fff;
    /* transition: opacity 1s ease-in-out; */
}

button {
    display: block;
    background-color: #D9D9D9;
    width: 270px;
    height: 60px;
    border-radius: 30px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 1px #636363;
    font-size: 1.5em;
    font-weight: 900;
    cursor: pointer;
}

.historico {
    position: absolute;
    top: 115px;
    transition: opacity 0.5s ease-in-out;
}

.play {
    position: absolute;
    top: 225px;
    transition: opacity 0.5s ease-in-out;
}

.sair {
    position: absolute;
    z-index: 2;
    bottom: 105px;
    transition: bottom 2s ease-in-out;
}

.main-screen button:hover {
    background-color: #c5c5c5;
}

.main-screen button:active{
    background-color: #a8a8a8;
}

.sec-historico {
    position: absolute;
    z-index: 2;
    top: 265px;
    background-color: #D9D9D9;
    width: 300px;
    height: 0px;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out 1s, width 2s ease-in, height 2s ease-in-out, padding 2s ease-in, top 2s ease-in-out;
}

.title {
    display: flex;
    transition: opacity 0.5s ease-in-out 1s;
}

.title h3 {
    border-top: 1px solid #797979;
    border-left: 1px solid #797979;
    border-bottom: 1px solid #797979;
    padding-left: 10px;
}

.title h3:first-of-type {
    width: 50%;
    border-top-left-radius: 5px;
}

.title h3:nth-of-type(2) {
    width: 30%;
}

.title h3:nth-of-type(3) {
    width: 20%;
    border-right: 1px solid #797979;
    border-top-right-radius: 5px;
}

.game {
    position: absolute;
    z-index: 2;
    background-color: green;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: opacity 2s ease-in-out 0.5s;
}

.nickname-register {
    width: 100%;
    transition: opacity 1s ease-in-out;
}

.jogador {
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: #fff;
    margin-bottom: 150px;
}

.nickname {
    width: 340px;
    height: 60px;
    border: none;
    outline: none;
    margin: 0 30px;
    margin-bottom: 60px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.5em;
}

.button-nickname {
    margin: 0 65px;
}

.tela-jogo {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.barra-frio-quente {
    background-image: linear-gradient(to right ,#0000ff, #ff0000);
    width: 600px;
    height: 20px;
    margin-top: 130px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #464646;
}

.dica {
    background-color: #D9D9D9;
    width: 640px;
    height: 50px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #464646;
    font-size: 1.6em;
    font-weight: 500;
    text-align: center;
}

.entrada-dado {
    display: flex;
    margin-top: 70px;
}

.chute {
    width: 300px;
    height: 60px;
    padding: 10px;
    margin-right: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #464646;
    outline: none;
    font-size: 1.285em;
}

.chute::-webkit-inner-spin-button, .chute::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.chutar {
    width: 80px;
    border-radius: 28px;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.button-hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-in-out; 
}

.button-show {
    transition: opacity 0.5s ease-in-out 2s;
}

.main-screen-alt {
    width: 600px;
    height: 700px;
}

.main-screen-alt-2 {
    width: 900px;
    height: 600px;
    transition-delay: 1s;
}

.sec-historico-on {
    top: 210px;
    width: 580px;
    height: 300px;
    padding: 10px;
}

.dimension-zero {
    height: 0;
}

.dimension-full {
    height: 100%;
}